lib_managed
lib
project/boot
project/build/target
scalakoansexercises.iws
scalakoansexercises.ipr
scalakoansexercises.iml
target
.*\.class
.*\.zip
.*\.jar
scala-koans.iml
scala-koans.ipr
scala-koans.iws
.idea*
.classpath
.project
.cache
.idea_modules
.idea
*.jar
build.sbt
sbt
*.html
